.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.area-header {
  background-color: rgb(193, 226, 226);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  text-decoration: underline;
}

.map-background {
  width: 100%;
  height: 100%;
  background-color: rgb(235, 235, 235);
}
