.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.area-header {
  background-color: rgb(193, 226, 226);
}

.map-background {
  width: 100%;
  height: 100vh;
  background-color: lightgrey);
}
