h1 {
    text-align: center;
}

img[src=""],
img:not([src]){
  opacity: 0;
}

img[src="*"]{
  opacity: 1;
}

.sprite {
  width: 150px;
  height: 200px;
}

.mainContainer {
  max-width: 1200px;
  display: grid;
  margin: 0 auto;
  grid-gap: 1rem;
  align-items: end;
}

.card {
  align-items: center;
  margin: 10px;
}

.topInfo {
  display: flex;
  justify-content: space-between;
  font-size: large;
}

.card-header {
  width: 100%;
}

.card-footer{
  width: 100%;
  display: flex;
  padding: 0em;
  align-items: baseline;
  justify-content: center;
}

span:empty{
  display: none;
}

.types {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

button {
  background-color: white;
  border: none;
}

@media (min-width: 600px) {
  .mainContainer { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .mainContainer { grid-template-columns: repeat(3, 1fr); }
}

.searchContainer{
  max-width: 250px;
  position: relative;
  background: linear-gradient(to right, rgb(255, 196, 0), rgb(230, 54, 10));
  padding: 3px;
  border-radius: 9999em;
  margin: 10px;
}
.pokeSearch {
  outline: none;
  border: none;
  border-radius: 9999em;
  text-align: center;
  padding: 3px;
}

.type {
  border: 2px solid black;
  padding: 4px;
  border-radius: 1em;
}

[title~=normal]{
  background-color: #a8a878;
}
[title~=fire]{
  background-color: #f08030;
}
[title~=water]{
  background-color: #6890f0;
}
[title~=grass]{
  background-color: #78c850;
}
[title~=electric]{
  background-color: #f8d030;
}
[title~=ice]{
  background-color: #98d8d8;
}
[title~=fighting]{
  background-color: #c03028;
}
[title~=poison]{
  background-color: #a040a0;
}
[title~=ground]{
  background-color: #e0c068;
}
[title~=flying]{
  background-color: #a890f0;
}
[title~=psychic]{
  background-color: #f85888;
}
[title~=bug]{
  background-color: #a8b820;
}
[title~=rock]{
  background-color: #b8a038;
}
[title~=ghost]{
  background-color: #705898;
}
[title~=dark]{
  background-color: #705848;
}
[title~=dragon]{
  background-color: #7038f8;
}
[title~=steel]{
  background-color: #b8b8d0;
}
[title~=fairy]{
  background-color: #f0b6bc;
}
